body {
    background: #111;
    color: #ccc;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
    height: 100%;
    overflow: hidden;
}



.location-panel {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 25%;
    width: 450px; /* Ширина соответствует стилям location_panel.css */
    background: url('/static/img/main3.png'),url('/static/img/back_fon.png')  no-repeat center center;
    background-size: 100% 100%;
    overflow: hidden;
    z-index: 10;
}

#location-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-size: cover;
}

#location-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#compass-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 250px;
    width: 400px;
    gap: 1px;
    padding: 0;
    box-sizing: border-box;
    background-image: url('/static/img/kompas.png');
    background-size: cover;
    background-position: center;
    margin: 40px auto 0;
}

#combat-compass {
    display: flex;
    flex-direction: column;
    height: calc(100% - 10px);
    width: 400px;
    margin: 5px auto;
    flex: 1;
}

.combat-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px; 
    flex-shrink: 0;
    width: 100%;
    margin-top: 60px;
    box-sizing: border-box;
}

.combat-top .nav-container[data-location="market"] {
    order: 1;
    margin-bottom: 5px;
}

.combat-top .nav-container[data-action] {
    order: 2;
    width: 150px; 
    margin: 2px 0;
}

.combat-middle {
    display: flex;
    justify-content: center;
    gap: 5px;
    height: auto;
    min-height: 0;
    align-items: center;
}

.combat-bottom {
    position: relative;
    flex-grow: 0;
    display: flex;
    height: 297px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: auto;
}

.combat-background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}

.combat-grid {
    position: absolute;
    width: 390px;
    height: 300px;
    z-index: 2;
}

.combat-cell {
    position: absolute;
    width: 26px;
    height: 27px;
    background: transparent;
}

.combat-cell.has-image {
    position: absolute;
}

.combat-cell.has-image::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity 0.2s;
}

.combat-cell.has-image:hover::after {
    opacity: 1;
}

.combat-cell.has-image:hover {
    background: rgb(255, 255, 255, 0);
    cursor: pointer;
}

.combat-cell[data-zone="fire-hall"] { top: 58px; left: 183px; }
.combat-cell[data-zone="warrior-hall"] { top: 81px; left: 126px; }
.combat-cell[data-zone="water-hall"] { top: 81px; right: 126px; }
.combat-cell[data-zone="mage-hall"] { top: 135px; left: 101px; }
.combat-cell[data-zone="noob-hall"] { top: 135px; left: 182px; }
.combat-cell[data-zone="earth-hall"] { top: 135px; right: 103px; }
.combat-cell[data-zone="light-hall"] { top: 192px; left: 126px; }
.combat-cell[data-zone="wind-hall"] { top: 191px; right: 127px; }
.combat-cell[data-zone="dark-hall"] { top: 213px; left: 182px; }

.combat-cell.active::after {
    opacity: 1 !important;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0);
    border-radius: 4px;
    transition: all 0.2s;
    text-align: center;
    padding: 0;
    border: 0px solid #8b5e3c;
    min-height: 50px;
    box-sizing: border-box;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/static/img/chat.png') no-repeat center center;
    border: 1px solid black;
    border-radius: 8px;
    color: #000000;
    padding: 5px 15px;
    cursor: pointer;
    transition: all 0.2s;
    min-width: 70px;
    min-height: 20px;
}

.left-button {
    grid-column: 1;
    grid-row: 2;
    justify-self: end;
    margin-right: 5px;
}

.right-button {
    grid-column: 3;
    grid-row: 2;
    justify-self: start;
    margin-left: 5px;
}

.top-button, .bottom-button {
    justify-self: center;
}

.nav-container:hover {
    background: rgba(139, 94, 60, 0.5);
    color: #e9d6b5;
}

.center-button {
    grid-column: 2;
    grid-row: 2;
}

.center-button .nav-container {
    font-weight: bold;
    background: url('/static/img/chat2.png') no-repeat center center;
    background-size: 100% 100%;
    border: 2px solid #e9d6b5;
}

.top-button { grid-column: 2; grid-row: 1; }
.left-button { grid-column: 1; grid-row: 2; }
.right-button { grid-column: 3; grid-row: 2; }
.bottom-button { grid-column: 2; grid-row: 3; }

#additional-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 400px;
    margin: 5px auto;
    margin-top: 30px;
    padding: 1px;
    align-items: center;
    box-sizing: border-box;
    max-height: 185px;
    overflow-y: auto;
}

.additional-row {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/static/img/chat.png') no-repeat center center;
    background-size: cover;
    border: 1px solid black;
    border-radius: 8px;
    color: #000000;
    padding: 0px 0px;
    cursor: pointer;
    transition: all 0.2s;
    min-height: 20px;
    width: 130px;
    font-size: 12px;
    margin: 0 ;
}

.additional-row:hover {
    background: rgba(139, 94, 60, 0.5);
    color: #e9d6b5;
}

.hidden {
    display: none !important;
}

#location-description {
    text-align: center;
    color: #e9d6b5; /* цвет текста */
    font-size: 14px; /* размер шрифта */
    line-height: 1.5; /* межстрочный интервал */
    padding: 10px; /* отступы */
    font-family: Arial, sans-serif; /* шрифт */
    border-radius: 5px; /* скругление углов */
    margin: 10px 0; /* внешние отступы */
}

